.course-card {
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #ffc4414f;
    background: #ffffff;
    box-shadow: 0 10px 20px rgb(15 23 42 / 13%);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.course-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 14px 30px rgba(15, 23, 42, 0.16);
}

.course-card__image {
    width: 100%;
    height: 204px;
    object-fit: cover;
    display: block;
}

.course-card__body {
    padding: 10px 10px 8px 15px;
}

.course-title{
    text-decoration: none;
}

.course-title h3 {
    min-height: 56px;
    margin: 0;
    font-family: math;
    color: #061733;
    font-size: 22px;
    line-height: 1.25;
    font-weight: 800;
}

.course-card__teacher {
    margin: 21px 0 0 0;
    color: #60708c;
    font-size: 17px;
}

.course-card__rating {
    display: flex;
    align-items: center;
    gap: 6px;
    padding-bottom: 15px;
    border-bottom: 1px solid #edf0f5;
}

.course-card__rating span{
    margin-bottom: 3px;
}

.course-card__rating strong {
    color: #ff9800;
    font-size: 16px;
}

.course-card__rating span {
    color: #ffb300;
    font-size: 17px;
    letter-spacing: 1px;
}

.course-card__rating small {
    color: #8492ad;
    font-size: 14px;
}

.course-card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.course-card__price {
    margin: 0;
    display: flex;
    color: #bf9000;
    font-size: 24px;
    font-weight: 900;
}

.course-card__price .icon{
    padding-top: 1px;
}

.course-card__cart {
    width: 45px;
    height: 45px;
    border: 1px solid #5c6a8233;
    border-radius: 10px;
    background: #ffdb000a;
    cursor: pointer;
    font-size: 22px;
    transition: all 0.25s ease;
}

.course-card__cart:hover {
    background: #e0af5b;
    color: #ffffff;
}
